html, body, div, p, ul, li, ol { margin: 0; padding: 0; }
a { text-decoration: none; color: #000; }
li { list-style: none; }
html, body { font-size: 14px; }
#all{
    width:100%;
    height:100%;
    background:#F0F0F0;
}
/* 【1】顶部 */
#top { width: 100%; height: 182px; min-width: 1000px; background: url(../img/hr_01.png); }
.top-cen { width: 1000px; height: 100%; margin: auto; background: url(../img/top01.png) no-repeat; }
.top-ul { margin-left: 49px; margin-top: 8px; }
.top-ul li { float: left; margin-left: 45px; }
.top-ul li a p { color: gray; text-transform: uppercase; font-size: .1em; text-align: right; }
.top-ul li:hover a { color: red; }
.top-ul li:hover a p { color: black; }

/* 【2】banner */
#banner { width: 100%; height: 525px; background: url(../img/banner.png) repeat-x; position: relative; min-width: 1000px; background-position: center; }
#banner>a { display: block; width: 100%; height: 100%; }
.banner-ul { width: 1000px; height: 34px;     /* background-color: yellow; */ position: absolute; bottom: 0; left: 50%; margin-left: -500px; }
.banner-ul li { width: 195px; float: left; line-height: 34px; margin-left: 5px; background: black; color: #fff; padding-left: 20px; }
.banner-ul li:hover { background: red; }
#banner-left { width: 37px; height: 34px; background: url(../img/arr.png) no-repeat; margin-left: 0; }
#banner-right { width: 37px; height: 34px; background: url(../img/arr.png) no-repeat; background-position: -57px 0; }
#banner-left:hover { background-position: 0 -34px; }
#banner-right:hover { background-position: -57px -34px; }

/* 【00】微博QQ */
#wei { width: 1000px;    /*  height: 611px; */ margin: auto;   /*  background:red; */ margin-top: 2px;    /* 当内容使用了浮动后要清楚浮动
                        高度让内容自行撑起 */ overflow: hidden; }
    .wei-top1 { float: left; }
    .wei-top2 { float: left; margin-left: 2px; }
    .wei-top3 { background: url('../img/bg1-3_03.png') no-repeat; float: left; margin-left: 2px; position: relative; width: 184px; height: 98px; }
    .top3-01 { background: url('../img/tb1_03.png') no-repeat; position: absolute; float: left; width: 40px; height: 40px; border-radius: 100%; margin-left: 26px; margin-top: 45px; transition: .5s; }
    .top3-02 { background: url('../img/tb2_03.png') no-repeat; position: absolute; float: left; width: 40px; height: 40px; border-radius: 100%; margin-left: 68px; margin-top: 45px; transition: .5s; }
    .top3-03 { background: url('../img/tb3_03.png')
    no-repeat; position: absolute; float: left; width: 40px; height: 40px; border-radius: 100%; margin-left: 111px; margin-top: 45px; transition: .5s }
    .top3-01:hover { transform: scale(1.3, 1.3); }
    .top3-02:hover { transform: scale(1.3, 1.3); }
    .top3-03:hover { transform: scale(1.3, 1.3); }
    .center-top4 { float: left; margin-left: 3px; }
/* 【3】center */
#center { width: 1000px;    /*  height: 611px; */ margin: auto;    background:#fff;margin-top: 2px;    /* 当内容使用了浮动后要清楚浮动
        高度让内容自行撑起 */ overflow: hidden; }
    .center-bottom { float: left; margin-top: 10px; width: 1000px; height: 500px;/*      background: blue; */ }
    .b-left { float: left; width: 630px; height: 490px;/*     background:#652; */ margin-top: 10px; }
    .photo-center { width: 630px;/*     background:yellow; */ height: 195px; margin-top: 20px; }
    .ph-left { float: left; width: 318px; height: 193px; border: 1px solid gray; margin-left: 10px; position: relative; }
    .ph01 { background: url(../img/2013040353722189.jpg)
    no-repeat; width: 306px; height: 185px;    /*  background:pink; */ margin-top: 5px; margin-left: 6px; position: absolute; }
    .ph-right { float: left; margin-left: 10px; }
    #ico-01 { width: 280px; height: 65px; background: url(../img/ico_bg1.gif) no-repeat; position: relative; }
    #ico-01:hover, #ico-02:hover, #ico-03:hover { background-position: 0 -65px; }
    #ico-01 p, #ico-02 p, #ico-03 p { width: 222px; position: absolute; margin-left: 42px; margin-top: 17px; font-size: 13px; }
    #ico-01:hover p, #ico-02:hover p, #ico-03:hover p { color: red; }
    #ico-02 { width: 280px; height: 65px; background: url(../img/ico_bg2.gif) no-repeat; position: relative; }
    #ico-03 { width: 280px; height: 65px; background: url(../img/ico_bg3.gif) no-repeat; position: relative; }
    .news-bottom { width: 630px; height: 187px;/*     background: red; */ margin-top: 25px; position: relative; }
    .news-left { float: left; width: 318px; height: 187px; /*    background:green; */ position: absolute; margin-left: 10px; }
    .new-01>a, .new-02>a { color: #980312; font-size: 1px; }
    .new-01 a:hover, .new-02 a:hover { color: red; }
    .news-ul-01 li, .news-ul-02 li { line-height: 28px; border-bottom: 1px dashed #b9b9b9; font-size: 13px; }
    .news-ul-01 a:hover li, .news-ul-02 a:hover li { color: red; }
    .news-right { float: left; width: 287px; height: 187px;/* background: #F8CB0F; */ position: absolute; margin-left: 343px; }
    .b-right { float: left; margin-top: 10px; margin-left: 10px; }

    /* 【4】作品鉴赏 */
    #show { width: 1000px; height: 433px;  background:#fff;margin: auto; margin-top: 10px; position: relative; overflow: hidden; }
    .show-top { width: 600px; height: 68px;    /*  background:red; */ background: url(../img/show-01.png)
    no-repeat; }
    .show-bottom { width: 1000px;   /*  height:340px; *//* background:pink; */
    margin-top: 25px; }
    .show-ul { margin-left: 13px; }
    .show-ul li { float: left; width: 240px; height: 326px; padding-left: 5px; }
    .show-li-01 { background: url('../img/show01.png') no-repeat; }
    .meng01, .meng02, .meng03, .meng04 { position: relative; left: -5px; }
    .meng01-1 p, .meng02-1 p, .meng03-1 p, .meng04-1 p { color: #fff; left: 10px; bottom: 20px; position: absolute; font-size: 20px; }
    .meng01-1, .meng02-1, .meng03-1, .meng04-1 { position: absolute; width: 240px; height: 0px; overflow: hidden; background-color: rgba(0, 0, 0, .5); transition: .45s; }
    .show-li-01:hover .meng01-1, .show-li-02:hover .meng02-1, .show-li-03:hover .meng03-1, .show-li-04:hover .meng04-1 { height: 326px; }
    .show-li-02 { background: url('../img/show02.png') no-repeat; }
    .show-li-03 { background: url('../img/show03.png') no-repeat; }
    .show-li-04 { background: url('../img/show04.png') no-repeat; }

    /*【5】bottom */
    #bottom { width: 100%; min-width: 1000px; overflow: hidden;/*     background:red; */ margin-top: 10px; }
    .bot-top { width: 100%; background: #2e2e2e; }
    .bbt-01 { width: 1000px;    /* background:#2e2e2e; */ background: pink; margin: auto; overflow: hidden; position: relative; }
    .bbt-01 img { float: left; }
    .bbt-01-1 { float: left; width: 300px; height: 230px; background: url('../img/index_03.png') no-repeat; position: relative; }
    .bbt-01-1-1 p, .bbt-01-1-1 span { color: #969696; font-size: 12px; }
    .bbt-01-1-1 p { position: absolute; bottom: 80px; left: 126px; }
    .bbt-01-1-1 span { position: absolute; bottom: 41px; left: 126px; }
    .bbt-01-2 { position: absolute; float: left; width: 700px; margin-left: 300px; background: #2e2e2e; height: 230px; }
    .bbt-01-2 div { float: left; width: 165px; height: 110px;    /* background: #e3e; */ margin-left: 10px; float: left; margin-top: 10px; }
    .bbt-01-2 p { background: #000; width: 100%; height: 23px; color: white; line-height: 23px; font-size: 15px; }
    .bbt-01-2 li { list-style-position: inside; list-style-type: disc; margin-left: 0px; color: #969696; margin-top: 2px; font-size: 13px; }
    .bbt-01-2 li:hover { background: #818181; }
    .bbt-01-2 div:hover p { background: #676767; }
    .bot-center { width: 100%; background: #1f1f1f; height: 180px; }
    .bot-ph { width: 1200px; height: 180px; background: url('../img/btm-black_02.png') no-repeat; margin: auto; }
    .bot-ph1 { position: relative; width: 100%px; height: 112px; background: #343434; background-repeat: repeat-x; bottom: 180px; }
    .bot-ph2 { width: 100%; height: 112px; margin: auto;/*     bottom:180px; */ min-width: 1000px; position: relative; margin: auto; background: url('../img/gray.png') repeat-x; }
    .bot-bottom { width: 100%; height: 110px; background: #000; }
    .bot-bb { width: 1200px; height: 110px; margin: auto; background: url('../img/botm.png') no-repeat; }